.container {
  width: 500px;
  place-items: center;
  padding: 50px 50px;
}

.header {
  text-align: center;
  padding: 10px 0;
}

.optional {
  display: flex;
  justify-content: space-between;
}

#find-pwd {
  color: grey;
  text-decoration: underline;
}

.rounded {
  border-radius: 20px !important;
  padding: 7px;
}

.login-input {
  margin: 15px;
}

.inner {
  width: 600px;
  background-color: yellow;
  text-align: center;
}
