.container {
  width: 500px;
  place-items: center;
  padding: 50px 50px;
}

.header {
  text-align: center;
  padding: 10px 0;
}

.home {
  text-align: center;
}

.login {
  text-align: center;
}

.login h1 {
  padding: 20px;
}

.join {
  text-align: center;
}

.join h1 {
  padding: 20px;
}

.my-page {
  text-align: center;
}

.optional {
  display: flex;
  justify-content: space-between;
}

#find-pwd {
  color: grey;
  text-decoration: underline;
}

.rounded {
  border-radius: 20px !important;
  padding: 7px;
}

.login-input {
  margin: 15px;
}
